<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletCookies</servlet-name>
        <servlet-class>servlets.ServletCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>servlets.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPuntuaciones</servlet-name>
        <servlet-class>servlets.ServletPuntuaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPartidas</servlet-name>
        <servlet-class>servlets.ServletPartidas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCookies</servlet-name>
        <url-pattern>/ServletCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPuntuaciones</servlet-name>
        <url-pattern>/ServletPuntuaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPartidas</servlet-name>
        <url-pattern>/ServletPartidas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
